/* Modular Scale 
----------------------
18px @ 1:1.5
----------------------

Pixels   Ems    Ems @ 16  % of 13
1037.975 57.665 64.873    7,984.423
691.983  38.444 43.249    5,322.946
461.322  25.629 28.833    3,548.631
307.548  17.086 19.222    2,365.754
205.032  11.391 12.815    1,577.169
136.688  7.594  8.543     1,051.446
91.125   5.063  5.695     700.962
60.75    3.375  3.797     467.308
40.5     2.25   2.531     311.538
27       1.5    1.688     207.692
18       1      1.125     138.462
12       0.667  0.75      92.308
8        0.444  0.5       61.538
5.333    0.296  0.333     41.023
3.555    0.198  0.222     27.346
2.37     0.132  0.148     18.231
1.58     0.088  0.099     12.154
1.053    0.059  0.066     8.100

*/

html {
  font-size: 1.125em;
  line-height: 1.5em;
  font-family: Segoe Ui, 'Lato', 'Roboto', Tahoma, Geneva, Verdana, sans-serif;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

label {
  font-weight: bold;
  font-size: 1.1em;
}

input[type=submit] {
  color: black;
  text-shadow: 0px 0px 0px;
  background: rgb(236, 204, 78); /* IMDb gold */
  border: 1px solid #5b5b5b;
  border-radius: 1000em;
  width: 100%;
  font-size: 1.1em;
}

input[type=submit]:hover {
  background: rgb(236, 204, 78); /* IMDb gold */ 
}

input[type=text], input[type=email], input[type=password] {
  border: 1px solid #c2c2c2;
  border-radius: 1em;
  padding: 0 1em;
  width: 100%;
  font-size: 1.2em;
}

h1 {
  font-size: 2.25em;
}

h2 {
  font-size: 1.5em;
}

button {
  border-radius: 1000em;
  text-shadow: 0px 0px 0px;
  width: 100%; 
  font-size: 1.2em;
}

#facebook-button {
  background: rgb(59, 89, 152); 
  color: white;  
  border-color: rgb(59, 89, 152);
}

#google-button {
  background: rgb(215, 61, 50);
  color: white;
  border-color:  rgb(215, 61, 50);
}

#amazon-button {
  background: rgb(255, 200, 66);
  color: black;
  border-color: rgb(255, 200, 66);
}

i {
 margin-top: .1em; 
}

a:hover {
  text-decoration: none; 
}

a {
  text-decoration: none;
  color: black;
  font-size: 1.2em;
}

.row > * {
 text-align: center;
}

.line-thru {
  display: block;
  font-size: .875em;
  position: relative;
  text-align: center;
  width: 100%;
  z-index: 1;
}

.line-thru:before {
  width: 40px;
  height: 10px;
  content: '';
  background-color: white;
  margin: -5px 0 0 -20px;
  left: 50%;
  position: absolute;
  top: 50%;
  z-index: -1;
}

.line-thru:after {
  border-bottom: 1px solid #c2c2c2;
  content: '';
  display: block;
  position: absolute;
  top: 49%;
  width: 100%;
  z-index: -2;
}
